* {
    font-family: "Roboto", sans-serif;
}

.container-header {
    padding: 20px;
}

.hero {
    height: 400px;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
}


.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer {
    border-top: 1px solid #aaa;
}

#button {
    border: 1px solid #000;
}

